
.pages-admin-login{
    height: 100%;
    overflow: auto;
}

.admin-login-header {
    padding: 60px;
}

.admin-login-header > .logo-ebloom {
    height: 90px;
}

.component-login{
    text-align: center;
}
