
.pages-admin-login{
    width: 100vw;
    height: auto;
    background-color: rgb(147, 147, 189);
}

.admin-login-header {
    padding: 60px;
}

.admin-login-header > .logo-ebloom {
    height: 90px;
}

.component-login{
    text-align: center;
}