
.diagramArea{
    background-color: beige;
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    height: 100%;
}
.zone{
    width: 40%
}
.logoCloudAndSun{
    background-image: url('./symbols/cloud_and_sun_color.png');
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 90px;
    position: relative;
    top: 20px;
}
.logoCloud{
    background-image: url('./symbols/cloud_color.png');
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 90px;
    position: relative;
    top: 20px;
}
.logoSun{
    background-image: url('./symbols/sun_color.png');
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 90px;
    position: relative;
    top: 20px;
}

.dashboard p{
    font-size: 1.5em;
    color: #12AD75;
    text-transform: uppercase;
    text-align: center;
    margin-top: 70px;
}

.dashboard {
    height: 650px;
    margin: 25px;
    border-radius: 42px;
    margin-top: 3%;
}

#managers {
  height: 100vh

}
.helpBar{
    background-image: url('./symbols/logo_help_bar.png');
    height: 60px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
}
.circleHelp{
    background-image: url('./symbols/logo_circle_help.png');
    height: 60px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
    top: 50px;
}
.hide {
    display: none;
}

.circle1{
    background:#12AD75;
    border-radius:50%;
    width:160px;
    height:160px;
    margin-left: 100px;
}
.circle2{
    background:#12AD75;
    border-radius:50%;
    width:160px;
    height:160px;
    margin-left: 100px;
}
.circle3{
    background:#12AD75;
    border-radius:50%;
    width:160px;
    height:160px;
    margin-left: 100px;
}
