.Circular3
{
    height:300px;
    width: 300px
}

.Circular2
{
    height:250px;
    width: 250px
}

.Circular1
{
    height:200px;
    width: 200px
}

.SmallCircular
{
    height:200px;
    width: 200px
}
