/* The bakcOffice CSS */
body {
    margin: 0px;
    padding: 0px;
}


.back-office-page {
    background-color : rgb(0, 82, 41);
    width: 100%;
    margin: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}


.category-menu {
    background-color : rgb(105, 153, 0);
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}


.category-box {
    background-color : rgb(0, 153, 153);
    width: 800px; 
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.inBox-size {
    width: 600px;

}

.category-head {
    background-color : rgb(0, 36, 153);
    width: 600px;
   

}


.question-add-button {
    box-sizing: border-box;
    background-color : rgb(153, 0, 0);
    width : 40px;
    height: 40px;
    border-radius: 50%;
    

}


.back-off-question {
    box-sizing: border-box;
    background-color : rgb(135, 0, 153);
    padding-left: 50px;
    padding-right: 10px;
    margin : 5px ;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    

}


.question-remove-button {
    background-color : rgb(246, 184, 67);
    display: inline;

}


.validation-indicator{
    background-color: rgb(11, 219, 11);
    display: none; /*inline*/

}
