html {
  height: 100%;
  background-color: darkblue;
}

.logo-ebloom {
  background-image: url('./Components/Employee/symbols/logo_small_eBloom_v2.png');
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.SurveyScheduler {
  padding: 20px;
  text-align: center;
}

.SurveyForm {
  padding: 20px;
  text-align: center;
}


.diagramArea {
  text-align: center;
  margin: 30px;
}
/* *{
  color: none
} */
