html {
  height: 100%;
}

.App {
  height: 100vh;
  background-image: url('./Components/Employee/symbols/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.App {
  height: 100vh;
}

.logo-ebloom {
  background-image: url('./Components/Employee/symbols/logo_small_eBloom_v2.png');
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.SurveyScheduler {
  padding: 20px;
  text-align: center;
}

.SurveyForm {
  padding: 20px;
  text-align: center;
}

/* *{
  color: none
} */
